@import url('http://fonts.cdnfonts.com/css/graphik');
                

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Graphik', sans-serif;
                                                
  /* text-decoration: none; */
  
}

body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: 'Graphik', sans-serif;
  background-color: #fff;
}

.first-section{
/* background-color: #ffff00; */
height: 800px;
background-image: url("ZURI\ LANDING\ PAGE/hero-bg.svg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: block;
font-family: Averta, sans-serif;
}

.head-img{
  display: flex;
  /* border: 5px dotted red; */
  margin: auto;
  /* align-content: center; */
  justify-content: center;
  /* display: flex; */
  padding-top: 69px;
  font-family: Averta, sans-serif;
  margin-bottom: 69px;
}

.logo-img{
  margin: auto;
  vertical-align: middle;
  border-style: none;
}

.LBG{
  /* border: 5px dotted red; */
  padding: 10px;
  margin: 0 auto;
  font-family: Averta, sans-serif;
  text-align: center;
  max-width: 700px;
  /* width: 700px; */
}

.LBG h2{
  font-size: 32px;
  font-weight: 800;
  font-family: Averta, sans-serif;
  line-height: 48px;
  text-align: center;
  color: #514949;
  margin-bottom: 36px;
}

.LBG p{
  font-size: 16px;
  line-height: 24px;
  font-family: Averta, sans-serif;
  color: #514949;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.LBG-a{
  color: #eb5850;
  text-decoration: none;
  font-family: Averta, sans-serif;
  background-color: transparent;
}

.two-big-btns{
  /* border: 4px dotted green; */
   margin-top: 92px;
   text-align: center;
   font-size: 1rem;
   font-family: Averta, sans-serif;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   display: flex; 
   align-content: center;
   justify-content: center;
   
}

.two-big-btns-a-{
  text-decoration: none;
  font-family: Averta, sans-serif;
  color: #E7332B;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;
  font-family: Averta, sans-serif;
}
.btn-1{
background-color: #E7332B;
cursor: pointer;
font-family: Averta, sans-serif;
margin-right:24px;
display: inline-block;
/* padding: 11px 28px; */
/* border: 1px solid #E7332B; */
overflow: visible;
font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    align-items: flex-start;
color: #fff;
}

.btn-1:hover{
  background-color: #fff;
  color: #E7332B;
  border:1px solid #E7332B;
}

.my-btn{
  padding: 11px 28px;
border: 1px solid #E7332B;
}

.btn-2{
overflow: visible;
font-family: inherit;
font-size: inherit;
line-height: inherit;
align-items: flex-start;
color: #E7332B;
background-color: #fff;
}

.btn-2:hover{
background-color: #E7332B;
color: #fff;
border: 1px solid #fff;
}

.second-section{
/* border: 3px dotted yellow;   */
background-color: #fff;
overflow: hidden;
display: block;
font-family: Averta, sans-serif;
}

.second-section-first-cont{
  margin: 0 auto;
  padding-top: 0 !important;
  max-width: 1440px !important;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  font-family: Averta, sans-serif;
  padding-right: 15px;
  /* width: 1349px; */
}

/* .program-content{
  padding-top: 0 !important;
} */

/* .text-center{
  text-align: center !important;
} */

.zuri-team-heading{
  font-size: 14px;
  line-height: 24px;
  color: #E7332B;
  margin-top: 141px;
  font-weight: 500;
  text-align: center !important;
  font-family: Averta, sans-serif;
  margin-bottom: 0.5rem;
  margin-block-end: 1em;
  margin-block-start:1em;
}

.slogan{
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #514949;
  margin-top: 8px;
  margin-bottom: 64px;
  margin-block-end: 1em;
  margin-block-start:1em;
  font-family: Averta, sans-serif;
}

.three-outer-cont{
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1240px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Averta, sans-serif;
}

/* .my-container{
  max-width: 1240px !important;
} */

.three-row{
  /* border: 3px dotted yellow; */
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  /* flex-wrap: wrap; */
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  text-align: center;
  font-family: Averta, sans-serif;
}

.first-program-cad-outer{
  /* border: 3px dotted yellow; */
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  font-family: Averta, sans-serif;
  padding-left: 15px;
  display: block;
  /* height: 516.188px; */
  
}


.first-program-cad-inner{
  /* border: 3px dotted yellow; */
  width: 100%;
  background-color: #FFFAFA;
  padding:  61px 47px 82px 36px;
  text-align: left !important;
  display: block;
  font-family: Averta, sans-serif;
}

.left-dot-img{
  width: 413px;
  margin-bottom: 48px;
  /* width: 100%; */
  position: absolute;
  left: -120px;
  top: -75px;
  z-index: -1;
  /* vertical-align:  middle; */
    border-style: none;
    display: block ;
    /* text-align: left; */

}
.inner-main-div{
  text-align: left;
  display: block;
  font-family: Averta, sans-serif;
}

.training-img{
  margin-bottom: 48px;
  text-align: left;
  display: block;
  font-family: Averta, sans-serif;
  /* vertical-align: middle; */
}

.program-cad-p{
  /* border: 3px solid black; */
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
      margin-top: 0;
      margin-bottom: 1rem;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: left;
      font-family: Averta, sans-serif;
    }
    
    .program-cad-h3-div{
font-size: 1.7rem;
margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0px;
    display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-family: Averta, sans-serif;
      text-align: left !important;
    }

    .program-cad-a{
      text-decoration: none;
      font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.9;
    background-color: transparent;
    text-align: left;
    font-family: Averta, sans-serif;
    text-size-adjust: 100%;
    text-decoration-thickness: auto;
    font-weight: 500;
    }

.second-program-cad-outer{
  position: relative;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  font-family: Averta, sans-serif;
  padding-left: 15px;
  display: block;
  height: 516.188px;
}

.right-dot-img{
  /* width: 90%; */
  width: 371.984px;
  position: absolute;
  right: -120px;
  top: -75px;
  z-index: -1;
  margin-bottom: 48px;
  display: block;
  /* vertical-align: middle; */
  border-style: none;

}

.footer{
  margin-top: 215px;
  max-width: 1240px !important;
  margin-left: auto  !important;
  margin-left: auto !important;
  display: block;
  font-family: Averta, sans-serif;
}
.f-f-div{
  display: flex;
  justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 56px;
      padding: 20px;
      font-family: Averta, sans-serif;
}
.flex-1-div{
  display: block;
  font-family: Averta, sans-serif;
}
.flex-1-logo{
  vertical-align: middle;
  border-style: none;
}

.flex-2-div{
  display: block;
  font-family: Averta, sans-serif;
}
.flex-2-h3{
  font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
    margin-bottom: 0.5rem;
    font-family: Averta, sans-serif;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.flex-2-a{
  /* border: 2px solid black; */
  color: #E7332B;
    text-decoration: none;
    background: transparent;
    font-family: Averta, sans-serif;
    cursor: pointer;
}

.flex-2-p{
  /* border: 2px solid black; */
  margin-bottom: 1rem;
  font-family: Averta, sans-serif;
}

.flex-3-div{
  display: block;
  font-family: Averta, sans-serif;
}

.flex-3-h3{
  font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
    margin-bottom: 0.5rem;
    display: block;
    font-family: Averta, sans-serif;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.flex-3-p-a{
  font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
    margin-bottom: 1rem;
    font-family: Averta, sans-serif;
}

.flex-3-p-b{
  font-size: 14px;
  line-height: 20px;
  color: #514949;
  opacity: 0.9;
  margin-bottom: 1rem;
  font-family: Averta, sans-serif;
}

.flex-4-div{
  display: block;
  font-family: Averta, sans-serif;
}

.contact-icons-div{
  display: block;
  font-family: Averta, sans-serif;
}
.c-i-a{
  text-decoration: none;
  color: #E7332B;
  background: transparent;
  font-family: Averta, sans-serif;
}

.c-i-img{
  width: 18px !important;
    margin-right: 5px;
    vertical-align: middle;
    border-style: none;
}
.footer-hr{
  margin: 1rem;
  /* opacity: 0.2; */
  border: 0.7px solid #514949;
  box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.footer-last-div{
  text-align: center;
  margin-left: auto;
  font-family: Averta, sans-serif;
  margin-right: auto;
}











@media screen and (max-width:600px){
  
  .first-program-cad-outer{
    margin-top: 30px;

  }

  .two-big-btns{
    display: flex;
    flex-direction: column;
  }

.btn-2{
  margin-top: 20px;
}

}

@media screen and (max-width:768px) {
  

  .footer{
    text-align: center;
    
  }
  
  .f-f-div{
    display: flex;
    flex-direction: column;
  } 
  
}



@media screen and (min-width:900px) {
  .two-big-btns{
    display: flex;
    /* flex-direction: column; */
  }


  .first-program-cad-outer{
    margin-top: 30px;

  }

}


@media screen and (max-width:991px) {
  .three-row{
    /* display: block; */
    display: flex;
    flex-direction: column;    
  }

  .first-program-cad-outer{
    margin-top: 30px;

  } 

}  


@media screen and (max-width:1199px) {
  .left-dot-img{
    display: none;
  }
  .right-dot-img{
    display: none;
  }
}


































/* THIRD PART STARTS HERE */
.third-body{
margin: 0 !important;
padding: 0 !important;
display: block;
box-sizing: border-box;
}

.third-part-header-first-div{
  /* border: 2px solid  black; */
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  box-shadow: none;
  /* flex-shrink: 0; */
  position: fixed;
  color: rgb(255, 255, 255);
  z-index: 1100;
  top: 0px;
  /* left: auto; */
  right: 0px;

}

.third-part-header-second-div{
  display: block;
}

.third-part-header-third-div{
  /* border: 3px solid yellowgreen; */
display: flex;
-webkit-box-align: center;
align-items: center;
  position: relative;
  
}

.third-part-header-fourth-div{
  /* border: 3px solid red; */
  display: flex;
  margin: auto;
  color: rgb(0, 0, 0);
  max-width: 1440px;
  width: 88%;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.logo-a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.logo{
  color: -webkit-link;
    cursor: pointer;
}

.header2-div{
  /* border: 2px solid khaki; */
  display: flex;
  align-items: center;
}

.third-header-ul{
  /* border: 4px dotted black; */
  display: block;
  list-style-type: disc;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  padding-inline-start: 40px;
}

.third-header-a{
  margin-right: 3rem;
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* position: relative; */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    /* margin: 0px; */
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .01em!important;
    line-height: 140%!important;
    color: #161617!important;
    padding: 0!important;
    /* border-bottom: 3px solid #e7332b!important; */
    border-radius: 0!important;
}

.third-p-header{
  font-family: Graphik!important;
    font-size: 17px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .01em!important;
    line-height: 140%!important;
    color: #161617!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.hire-talents-div{
/* border: 3px solid black; */
display: flex;
align-items: center;
}

.hire-talents-button{
  /* border: 5px dotted red; */
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    border: 0px;
    /* margin: 0px; */
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 11px 35px !important;
    background-color: #e7332b!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    margin-right: 15px!important;
}


.section-1-1{
  /* border: 4px dotted black; */
  display: block;
  /* background: yellow; */
  margin: auto !important;
  max-width: 1440px !important;
  width: 85%;
  padding-top: 220px;
}

 .section-1-inner-divv{
  /* border: 8px dotted red; */
  display: flex;
  width: 100%;
  flex-flow: row wrap;
} 

.section-1-inner-divv-two{
  /* border: 4px solid khaki; */
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0px;

  
}

.first-part-divv-main{
  display: block;
  /* max-width: 100%; */
/* width: 90%; */
width: 50%;
  /* border: 5px dotted khaki; */
}


.vetted{
    color: #161617!important;
    font-family: Graphik!important;
    font-size: 40px!important;
    font-style: normal!important;
    font-weight: 800!important;
    line-height: 49px!important;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.thick-div{
  margin-left: 370px;
  margin-top: -24px;
}


.at-zuri{
  padding-top: 15px;
  color: #787878!important;
    font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: inherit!important;
    text-align: inherit;
    width: 78%!important;
}

.button-third-part{
margin-top: 30px;
}

.button-third-part-f{
  background-color: #e7332b!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    margin-right: 15px!important;
    padding: 11px 50px!important;
    text-transform: none!important;

    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    letter-spacing: 0.02857em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}


.button-third-part-s{
  background-color: #585858!important;
  border-radius: 0 0 8px 0!important;
  color: #fff!important;
  font-family: Graphik!important;
  font-size: 16px!important;
  font-style: normal!important;
  font-weight: 400!important;
  line-height: 19px!important;
  padding: 11px 50px!important;
  text-transform: none!important;

    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    letter-spacing: 0.02857em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.second-part-div-main{
  /* border: 5px dotted blue; */
  width: 50%;
}


.top-img-div{
display: flex;
justify-content: flex-end;

}

.top-img{
width: 70%;
}

.line-1-div{
  margin-top: -172px;
  /* mix-blend-mode: soft-light!important; */
  position: absolute!important;
  right: 0;
}

.line-1{
  width: 129px;
}



.section-2-2{
  display: block;
  /* background-color: yellow; */
  /* border: 5px dotted khaki; */
}

.s-2-first-div{
  /* border: 4px solid black; */
  /* background-color: black; */
margin-top: 100px;
background:url("../ZURI LANDING PAGE/map.png"); 
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 142px !important;
padding-top: 90px!important;

}

.s-2-second-div{
  /* border: 4px dotted yellow; */
margin: auto;
max-width: 1440px !important;
width: 85%;
}

.s-2-main-div{

display: flex;
align-items: center;
margin-top: -24px;
margin-left: -24px;
-webkit-box-align: center;
/* flex-flow:  row wrap; */
width: 100%;
}

.s-2-first-part-div{
  /* border: 3px dotted gold; */
padding-left: 24px;
padding-top: 24px;
margin: 0px;
width: 50%;

}

.innerr-div{
display: block;
}

.p-impacted{
  color: #161617!important;
  font-family: Graphik!important;
  font-size: 40px!important;
  font-style: normal!important;
  font-weight: 800!important;
  line-height: 49px!important
}

.p-train{
  padding-top: 10px;
  letter-spacing: 0.00938em;
  color: #161617!important;
  font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: inherit!important;
    text-align: inherit;
    width: 78%!important;

}

.p-talents{
  padding-top: 10px;
  letter-spacing: 0.00938em;
  color: #787878!important;
  font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: inherit!important;
    text-align: inherit;
    width: 78%!important;
}

.country-main-div{
display: flex;
padding-top: 19px;
 color: #787878!important;
    font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: inherit!important;
    text-align: inherit;
    width: 78%!important;
}

.country-inner-div{
  background-color: #fff;
  padding: 7px !important;
  margin-right: 16px;
  border-radius: 8px !important;
  display: flex;
  width: 55px;
  color: #787878!important;
    font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    text-align: inherit;
}

.country-img{
  width: 80%;
  margin: auto;
  color: #787878!important;
    font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    text-align: inherit;
}


.s-2-second-part-div{
width: 50%;
padding-left: 24px;
padding-top: 24px;
display: block;
}

.s-p-img-div{
display: flex;
justify-content: flex-end;
}


.section-3-1{
  /* background-color: #E7332B; */
padding-top: 100px;
padding-bottom: 100px;
max-width: 1440px!important;
width: 85%!important;
margin: auto;
}

.section-3-top-flex{
  display: flex;
  margin-top: -24px;
  margin-left: -24px;
  /* flex-flow: row wrap; */
  width: 100%;
}

.section-3-firstt-p{
  padding-left: 24px;
  padding-top: 24px;
  width: 43%;
}

.section-3-empty-div{
  display: block;
}

.sectionn-3-first-p{
  padding-bottom: 35px;
  letter-spacing: 0.00938em;
  margin: 0px;
  color: #161617!important;
    font-family: Graphik!important;
    font-size: 40px!important;
    font-style: normal!important;
    font-weight: 800!important;
    line-height: 49px!important;
}

.sss{
  width: 57%;
  padding-left: 24px;
  padding-top: 24px;
}

.section-3-ddown-part{
  /* border: 4px solid black; */
  display: flex;
  /* flex-direction: column; */
  margin-top: -24px;
  margin-left: -24px;
  width: 100%;
  flex-flow: row wrap;
}

.section-3-ddown-partt{
  /* border: 4px dotted yellow; */
  /* background-color: red; */
  display: flex;
  padding-left: 24px;
  padding-top: 24px;
  margin: 0px;
  width: 100%;
}

.sectionn-3-down-part{       
box-sizing: border-box;
display: flex;
/* flex-flow: row wrap; */
margin-top: -24px;
/* width: calc(100% + 24px); */
margin-left: -24px;
}

.course-div{
  /* border: 4px dotted yellow; */
  padding-left: 24px;
  padding-top: 24px;

}

.course-div-p{
  align-items: center;
    background: #fff!important;
    border-radius: 8px!important;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16)!important;
    color: #787878!important;
    /* display: flex; */
    font-family: Graphik!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    height: 100%!important;
    justify-content: center;
    line-height: 33px!important;
    /* padding: 5px!important; */
      padding-left: 35px;
    padding-right: 35px;
    padding-top: 9px;
    padding-bottom: 9px;  
    text-align: center;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
    letter-spacing: 0.00938em;
    /* width: 209.875px; */
  
}

.course-div-p:hover{
  transform: translate3d(0px, -16px, 0px);
}

.lline-1-div{           
/* margin-top: -111px; */
margin-top: -60px;
/* mix-blend-mode: soft-light!important; */
position: absolute!important;
/* position: relative; */
right: 0;
z-index: -1;
}

.where-div{
display: block;
}

.where-p{
  padding-top: 55px;
  padding-bottom: 35px;
  color: #161617!important;
    font-family: Graphik!important;
    font-size: 40px!important;
    font-style: normal!important;
    font-weight: 800!important;
    line-height: 49px!important;
}

.talents-flex-div{
  /* border: 2px solid black; */
    display: flex;
    /* flex-flow: row wrap; */
    margin-top: -16px;
    /* width: calc(100% + 16px); */
    margin-left: -16px;
}

.talents-flex-div{
padding-top: 16px;
padding-left: 16px;
}

.talents-div{
  /* border: 4px dotted yellow; */
  display: flex;
  /* flex-flow: row wrap; */
  margin-top: -16px;
  width: calc(100% + 16px);
  margin-left: -16px;

}
.talents-inner-div{
  padding-left: 16px;
  padding-top: 16px;
}

.talents-inner-p{
  align-items: center;
    background: #fff!important;
    border-radius: 8px!important;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16)!important;
    color: #787878!important;
    display: flex;
    font-family: Graphik!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    height: 100%!important;
    justify-content: center;
    line-height: 33px!important;
    /* padding: 5px!important; */
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
    /* margin-block-start: 1px; */
    /* margin-block-end: 1px; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.talents-inner-p:hover{
  transform: translate3d(0px, -16px, 0px);
}


.section-4-1{
  background-color: rgb(255, 248, 229);
  padding-bottom: 80px;
  display: block;
}

.section-4-1-f-div{
  margin: auto!important;
  max-width: 1440px!important;
  width: 85%!important;
  display: block;
}

.section-4-only-p{
  display: block;
  padding-top: 100px;
  letter-spacing: 0.00938em;
  text-align: center;
  color: #161617!important;
    font-family: Graphik!important;
    font-size: 40px!important;
    font-style: normal!important;
    font-weight: 800!important;
    line-height: 49px!important;
}

.section-4-box-main-div{
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  margin-top: -16px;
  /* width: calc(100% + 16px); */
  margin-left: -16px;
  padding-top: 80px;
}

.section-4-f-box-m{
  position: relative;
padding-top: 16px;
padding-left: 16px;
flex-basis: 33.3333%;
}

.section-4-inner-box{
display: flex;
align-items: center;
    background-color: #fff;
    border-radius: 0 0 16px 0;
    color: #787878!important;
    flex-direction: column;
    /* height: 185px!important; */
    justify-content: center;
    padding: 45px 10px;
    /* width: 351.547px; */
    /* max-width: 16.6667%; */
}

.section-4-inner-box:hover{
  background-color: #161617;
    border-radius: 0 0 16px 0;
    box-shadow: 0 8px 30px hsl(0deg 0% 69% / 7%);
    color: #fff!important;
    padding-bottom: 45px;
    padding-top: 45px;
}

.section-4-i-p{
padding: 15px;
text-align: center !important;
font-family: Graphik!important;
    font-size: 17px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: inherit!important;
    text-align: inherit;
    width: 85%!important;
    letter-spacing: 0.00938em;
}

.rope-div{
  position: absolute;
  left: 0;
  bottom: -1935;
  z-index: 0;
}

.jkll-3{
  /* border: 4px solid black; */
  display: flex;
  flex-direction: row;
  margin: auto;
  /* flex-flow: row wrap; */
  /* margin-top: -16px; */
  /* width: calc(100% + 16px); */
  margin-left: -16px;
  
}

.section-4-f-box-down{
flex-basis: 16.6667%;
}

.section-4-bttn-div{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.section-4-bttn-1{
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;


    background-color: #e7332b!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    margin-right: 15px!important;
    padding: 11px 50px!important;
    text-transform: none!important;
}



.section-4-bttn-2{
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;


    background-color: #585858!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    margin-right: 15px!important;
    padding: 11px 50px!important;
    text-transform: none!important;
}

.last-footer{
  background-color: rgb(22, 22, 23);
  padding-top: 80px;
  display: block;
  
}

.last-footer-div{
  width: 92%;
  margin: auto;
}

.last-footer-first-part-div{
  /* border: 4px dotted yellow; */
  display: flex;
  /* flex-flow: row wrap; */
  margin-top: -16px;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 1257.08px; */
  /* width: calc(100% + 16px); */
  margin-left: -16px;
}

.l-f-f{
  /* border: 4px dotted white; */
padding-left: 16px;
padding-top: 16px;
max-width: 50%;
/* flex-basis: 50%; */

}

.l-f-s{
  /* border: 4px dotted white; */
  padding-left: 16px;
  padding-top: 16px;
  max-width: 50%;
  /* flex-basis: 50%; */
}

.l-f-s-s{
  /* border: 4px dotted khaki; */
  display: flex;
  justify-content: flex-end;
}

.l-f-s-t{
  display: flex;
  align-items: center;
}

.f-last-img{
padding-right: 15px;
width: 43px;
}

.f-last-a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.footer-lastt-p{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}


.footer-p-p{color: #fff!important;
font-family: Graphik!important;
font-size: 16px!important;
font-style: normal!important;
font-weight: 400!important;
letter-spacing: .01em!important;
line-height: 140%!important;
}

.footer-down-partt{
  display: flex;
  flex-direction: row;
}

.footer-down-partt-a{
  text-decoration: none;

    margin-right: 15px;
}

.last-p-p-p{
  color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .01em!important;
    line-height: 140%!important;
}





/* .span-wrapper{
  max-width: 25px;
  max-height: 25px;
  margin: 0;
  padding: 0;
  color: var(--arrow-color, black);
  transform: rotate(180deg);
  transition: transform var(--transition-duration, 0.3s);
  position: absolute;
  top: 27px;
  line-height: 23.4px;
  right: 12px;

}  */

